<%=  form_with model: @event do |form| %>

<div class="field">
    <%= form.label "Nuevo evento" %><br>
</div>

<div class="field">
    <%= form.label "Usuario" %><br>
    <%= current_user.name %>
    <%= form.select(:filter, params[:filter], ["Nombre del libro": 1, "Autor": 2,"Genero": 3])%>
</div>

<div class="field">
    <%= form.label "Cupos disponibles" %><br>
</div>

<div class="field">
    <%= form.label "Deporte" %><br>
    <%= form.select :sport_id, options_from_collection_for_select(Sport.all, 'id', 'name') %>
</div>

<div class="field">
    <%= form.submit %>
</div>

<% end %>