<div class="d-flex justify-content-center flex-wrap" >
<% @events.each do |event|%>
<div>
<% if event.image.attached? %>
    <%= image_tag(event.image,style: "width: 100px") %><br>
<% end %>
<%= link_to(event.user_id,"/events/#{event.id}")%> <br>
<%=  %> <br>
    <HR width="00%">
</div>
<% end %>
</div>
<%= button_to "Agregar Evento", "/events/new", method: :get %>
<%= button_to "Mostrar Catalogo", "/events#index", method: :get %>
